
*.sqlite3

*.log

*.pid

tmp/pids/server.pid

log/development.log

db/development.sqlite3

*.log

db/development.sqlite3

log/development.log

tmp/pids/server.pid

public/system/uploads/images/000/000/013/medium/1506885_10152409246634100_781792847912196533_n.jpg

tmp/cache/assets/development/sprockets/274296ef26de945c624db3e257633352

tmp/cache/assets/development/sprockets/2f5173deea6c795b8fdde723bb4b63af

tmp/cache/assets/development/sprockets/8b9079c41123ccc2ecab488b3b3d2c99

tmp/cache/assets/development/sprockets/a399b06c4dca6c0f019cbc2ecb778607

tmp/cache/assets/development/sprockets/cffd775d018f68ce5dba1ee0d951a994

tmp/cache/assets/development/sprockets/a9aba592423cd950712ea372afcbe653

tmp/cache/assets/development/sprockets/f3369c626f2c339bb0d79a2b3c95bc33

tmp/cache/assets/development/sprockets/f7cbd26ba1d28d48de824f0e94586655

tmp/cache/assets/development/sprockets/fa8938ec2b008d476e2e322011d0a8d8

tmp/cache-